{% extends 'home/sha-home.html' %}
{% load static %}
{% block title %}
	WebSchool
{% endblock %}

{% block body %}
	<nav class="navbar navbar-dark bg-dark fixed-top border-bottom">
	  <div class="container-fluid">
		<a class="navbar-brand" href="#">WebSchool</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample01">
		  <ul class="navbar-nav mr-auto mb-2">
			<li class="nav-item active">
			  <a class="nav-link disabled" aria-current="page" href= "#" >Главная</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="lessons/">Курсы</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="user/lk" tabindex="-1" aria-disabled="true">Личный кабинет</a>
			</li>
		  </ul>
		  <form>
			<input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
		  </form>
		</div>
	  </div>
	</nav>
	<script type="text/javascript"> (function(m,e,t,r,i,k,a){ m[i]=m[i]||function(){ (m[i].a=m[i].a||[]).push(arguments) }; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(67718821, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/67718821" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

	<div class="container mt-5">
		<div class="row obll">
<!--			<div class="col-md-1"></div>-->
			<div class="col-md-8">
				<h1 class="h1 text-light hh1">Web-разработка</h1>
				<p class="text-light ms-3">Создание профессиональных сайтов</p>
			</div>
		</div>
	</div>
	<div class="obl ">

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h1 class="н1 text-light mb-4">Откуда ноги растут</h1>
					<p class="text-light">
						Создавать сайты стало возможно сразу же после появления интернета, который появился в 1990 году. Интернет тогда был пуст, и потому люди никак не могли его использовать. Чтобы это исправить, его надо было чем-то наполнить. Именно эту задачу взял на себя его создатель, <b>Тимоти Бернерс-Ли</b>. Первый сайт задумывался, как энная папка с документами, снабжённая уникальным доменным именем, по которому их можно будет найти. По-сути, любой сайт и по сей день имеет такую структуру: он просто хранят внутри себя информацию в том или ином виде, которая лежит в свободном доступе и может быть найдена по доменному имени.
					</p>
					<p class="text-light">
						Так <b>6 августа 1991</b> года был размещён в пустом интернете самый первый в мире сайт. Располагался он по адресу info.cern.ch.
					</p>
					<p class="text-light">
						Внешний вид первого сайта оставлял желать лучшего, и функционал был невелик, что понятно. Эта была просто белая страница, на которой была размещена информация про  технологию <b>«WWW»</b> (World Wide Web). В то время это была инновационная технология. Также с помощью этого сайта можно было установить браузер на свой пк.
					</p>
					<p class="text-light">
						Первый сайт на русском языке был размещён в интернете спустя 4 года, однако сколько-нибудь активное развитие русского интернета началось лишь ближе к концу 90-х.					</p>
				</div>
				<div class="col-md-3 pt-5">
					<img class="img-fluid img-thumbnail my-auto mt-4" src="{% static 'home/tim.jpg' %}">
				</div>
			</div>
		</div>
	</div>
	<div class="obl f pt-1">
		<div class="container">
		<h1 class="н1 text-light mt-5 mw-50">Как это работает</h1>
		</div>
<!--		<div class="h pt-1 py-5 d-flex justify-content-center"><img class="img-fluid kk" src="{% static 'home/shema2.png' %}"></div>-->
		<img class="img-fluid mx-auto d-block h-75" src="{% static 'home/shema2.png' %}">

	</div>
	<div class="obl ">
		<div class="container">
			<h1 class="н1 text-light mt-5 ">Frontend-разработка</h1>
			<p class="text-light mt-4">Это разработка всего того, что вы видите в окне браузера и с чем можете взаимодействовать, когда просматриваете какой-либо сайт. Функции бэкэнда не менее важны для работы сайта, но рядовой пользователь этого не замечает.</p>
			<p class="text-light">Чтобы лучше понять, откройте в браузере любой сайт. Нажав Ctrl+Shift+I, вы откроете код страницы (панель разработчика). Он описывает цвета, шрифты, расположение элементов и т.д.</p>
			<p class="text-light mb-4">Именно этому вы сможете научиться здесь.</p>
			<img class="img-fluid mx-auto d-block" src="{% static 'home/logos.png' %}">
		</div>
	</div>
	<footer class="py-5 bg-dark">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3 mx-4">
			<li class="nav-item"><a href="javascript:scroll(0,0)" class="nav-link px-2 text-muted">Наверх</a></li>
		</ul>
		<p class="text-center text-muted">© 2021 Кислицин К. Р.</p>
    </footer>
<!--	<p>вводная информация</p>-->
{% endblock %}