{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Пример</title>
	<link rel="icon" href="{% static 'lessons/unnamed.png' %}">
	<link href="{% static 'lessons/ex.css' %}" rel="stylesheet">
</head>
<body>
<!--<style>-->
<!--	body{-->
<!--	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;-->
<!--	background-color:antiquewhite;-->
<!--	padding:0;margin:0;-->
<!--}-->
<!--hr{-->
<!--	display:none;-->
<!--}-->
<!--h1{-->
<!--	padding:0;margin:0;-->
<!--	font-size:30px;-->
<!--}-->
<!--nav{-->
<!--	background-color:#ECB162;-->
<!--	padding:20px 0 20px 20px;-->

<!--}-->
<!--td{-->
<!--	margin-right:1vw;-->
<!--	display:block;-->
<!--	width:32vw;-->
<!--	float:left;-->
<!--}-->
<!--main{-->
<!--	background-color:#F7DCB7;-->
<!--	padding-bottom:10px;-->
<!--	padding-left:10px;-->
<!--	padding-right:10px;-->
<!--}-->
<!--table{-->
<!--	margin-left:10px;-->
<!--}-->
<!--img{-->
<!--	width:50%;-->
<!--	border:4px cyan solid;-->
<!--	border-radius:3px;-->
<!--	margin-right:10px;-->
<!--	float:left;-->
<!--}-->
<!--form{-->
<!--	border:4px #CD8016 solid;-->
<!--	border-radius:3px;-->
<!--	margin-left:10px;-->
<!--	width:400px;-->
<!--	padding:5px;-->
<!--	margin-top:10px;-->
<!--}-->
<!--button{-->
<!--	padding:5px;-->
<!--	background-color:chartreuse;-->
<!--}-->
<!--form>p{-->
<!--	padding:0;margin:0;-->
<!--}-->
<!--input{-->
<!--	margin-bottom:10px;-->
<!--	width:90%;-->
<!--	height:20px;-->
<!--	border-radius:5px;-->
<!--}-->
<!--.check{-->
<!--	width:5%;-->
<!--}-->

<!--a{-->
<!--	text-decoration:none;-->
<!--}-->
<!--footer{-->

<!--	padding:20px 0 20px 20px;-->
<!--	background-color:#ECB162;-->
<!--	height:100px;-->
<!--}-->
<!--</style>-->
<nav>
	<h1>Новый сайт</h1>

</nav>
<hr>
<table>
	<tr>
		<td>
			<h3>Статья 1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
		<td>
			<h3>Статья 2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
		<td>
			<h3>Статья 3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
	</tr>
</table>
<main>
	<h2>Важный список</h2>
	<ol>
		<li>
			minim distinguantur quamquam elit offendit
		</li>
		<li>
			litteris est mandaremus
		</li>
		<li>
			laborum quorum quae admodum aute
		</li>
	</ol>
	<p>quid nulla sint aliqua <b>nulla</b> anim tamen summis fugiat ipsum labore eram nisi
		nulla elit aliqua dolore elit amet multos</p>
	<h2>Важная картинка</h2>
	<div>
		<img class="img-fluid w-75 igm my-2" src="{% static 'lessons/1/photo.jpg' %}">
		Appellat de vidisse de eram ullamco ab relinqueret ita probant ne incurreret non
		quae arbitrantur ullamco legam iudicem id ex si eram noster sunt de irure
		incurreret de dolore eram, mentitum export possumus laborum, litteris si sint
		offendit. Export litteris officia si ab iis summis quorum velit ea ipsum
		cupidatat ex firmissimum, culpa si quamquam eu fugiat. Quo de despicationes ab
		quem familiaritatem admodum tempor quamquam.An eram amet labore excepteur.
		Cupidatat firmissimum se ullamco. Ullamco praesentibus ubi appellat de quis
		probant cernantur. Esse ex ubi duis cupidatat, qui arbitror distinguantur est
		incididunt duis id eiusmod distinguantur, tamen exquisitaque arbitror tempor
		doctrina est ubi legam arbitrantur ex appellat aute eiusmod, ingeniis ea legam,
		aut tamen constias despicationes.

		Litteris an iudicem, id appellat aut incurreret, mandaremus a enim mentitum do
		id quo summis cillum velit. Deserunt ea fabulas te do est instituendarum. Quae
		sed et export commodo. Excepteur duis ne deserunt instituendarum do nostrud
		labore laborum fabulas, admodum summis senserit expetendis, mandaremus duis et
		doctrina domesticarum.Anim quibusdam vidisse id an tamen ullamco graviterque.
		Aliquip exquisitaque ubi admodum ea legam laborum graviterque. Fore e quibusdam,
		fore offendit incurreret, enim litteris ad eruditionem, offendit eram cupidatat
		quamquam ne laboris ubi multos incididunt, incurreret legam cernantur aut ab
		esse duis est mandaremus, expetendis non veniam.

		Ab te minim senserit. Consequat et tempor, probant exercitation aut ullamco ab
		mentitum cillum possumus officia ab ad legam distinguantur in tempor eiusmod
		singulis et sed in quae quamquam ut malis iudicem id quid quid eu senserit qui
		incurreret. Pariatur esse eram mentitum cillum, id nisi nam quae hic offendit si
		quorum arbitror do litteris enim dolor incurreret labore.Ne irure quamquam
		incididunt, pariatur eruditionem in officia, proident quem ipsum laboris aute,
		ea malis aliquip possumus, dolore se mentitum o culpa, possumus magna sunt an
		fugiat, minim eiusmod a singulis non ita eiusmod quo offendit. Est qui labore
		probant, occaecat et quem ubi voluptate culpa ita laborum concursionibus qui hic
		quo voluptatibus. Vidisse labore nescius probant. An duis iudicem
		comprehenderit, singulis summis iudicem, do nisi appellat nostrud quo do est
		sunt anim minim an summis an mandaremus te ubi ullamco ubi laborum, quae officia
		fabulas, anim graviterque voluptate labore mandaremus.

		An nisi exercitation, excepteur id eram litteris. Voluptate ipsum incididunt,
		ubi summis occaecat. Elit ex mentitum se cernantur voluptatibus ex ingeniis,
		fabulas ut admodum, noster praesentibus occaecat aute singulis.Ubi culpa ullamco
		voluptate, nam multos familiaritatem, dolore offendit iis laborum, ea officia
		consectetur. Malis nam est dolor occaecat. Fugiat domesticarum ingeniis legam
		iudicem. E eram do malis, a export excepteur concursionibus, ne quo tempor ipsum
		minim si ab quorum aliquip exercitation.

		O in veniam offendit an nostrud multos appellat, magna proident ut enim elit,
		officia do velit. Eram arbitror ita quae summis, hic mentitum sed occaecat. Eu
		ipsum quis culpa expetendis an a esse praetermissum. Legam laboris
		firmissimum.Quis iis fabulas. Do incididunt aut officia ne an constias ad
		incurreret ex voluptate aute appellat constias, doctrina id quid. Quae quamquam
		expetendis si tamen cupidatat ea exercitation. Deserunt aute export fabulas aute
		est cernantur ipsum sunt fabulas duis.

		Cupidatat efflorescere ab constias. Export ullamco ab fugiat quid, de quorum
		expetendis est voluptate eu litteris de illum aliquip nostrud. Ne ut eram
		doctrina, vidisse praetermissum iis pariatur.Do do quem esse labore ut ita sed
		cohaerescant. Quid expetendis fidelissimae, multos in occaecat si sint, ex
		incididunt se proident si ut eram do nulla, noster aut quo aliqua nescius, qui
		dolor ipsum o quibusdam eu qui e labore duis elit de occaecat e cernantur.
		Pariatur eu nulla. Doctrina in singulis aut fabulas sint aliqua laborum ipsum.

		Amet si officia est et illum mentitum. Nostrud ubi probant ab mandaremus duis
		legam proident nisi. Occaecat nisi eiusmod voluptate ad laboris eram
		litteris.Export et doctrina, laborum quis ut admodum comprehenderit. Aliqua si
		sed velit arbitror, commodo praetermissum ea ingeniis ne esse do sed dolore
		mentitum, singulis cohaerescant in quamquam est ingeniis ad cillum occaecat,
		legam eu litteris id do proident praesentibus e malis philosophari senserit
		culpa possumus. Ingeniis amet an appellat arbitrantur. Sed irure appellat,
		eiusmod exercitation id aliquip aut ab nam tractavissent, nostrud non quis,
		culpa despicationes admodum irure occaecat qui occaecat quorum cillum sed
		aliqua, ubi nisi ea eram sed sed et velit occaecat.

		Ne constias et occaecat, expetendis fore nescius aliquip. De cillum constias
		instituendarum ea ea magna praesentibus. Cillum non cernantur. In noster
		transferrem.Minim incurreret familiaritatem. Cernantur dolor aute ex quis,
		admodum nam singulis. Do hic quis duis quem.

		Ullamco cillum quis quo nisi. Fore cupidatat concursionibus. Ut elit officia
		familiaritatem. Est eram quae nisi quibusdam quo iis ad concursionibus.Commodo
		ne elit. Tempor et vidisse se tamen. Id ab exercitation.

		Eiusmod magna officia nostrud ad aute doctrina aut iudicem ad iudicem dolor quo
		eiusmod cohaerescant ut in quis probant praesentibus ab si ab enim duis elit e
		malis eruditionem laborum veniam ullamco ex malis proident non tamen culpa te
		quid doctrina si praetermissum. Ita quorum irure te deserunt, do arbitror qui
		proident non doctrina aute fabulas ne aliquip quorum de appellat arbitrantur in
		et ita eruditionem a aut a illum duis multos, nulla cernantur ad quorum export,
		ad non cohaerescant. Ubi dolor irure dolor senserit est nescius export fore
		constias sint.An quae officia transferrem, enim laborum nam cohaerescant. Ad ad
		fidelissimae non ipsum arbitror eu occaecat, de duis do eram, de multos aliqua
		et nostrud, esse ex incurreret in irure ex quem concursionibus offendit veniam
		appellat, eu quorum quae ubi admodum ne sint ut de anim quibusdam. Ita fore
		aliquip transferrem, amet e nostrud, ipsum offendit a imitarentur sed hic summis
		familiaritatem.
	</div>
	<form>
		<label>Имя пользователя</label>
		<p><input type="text"></p>
		<label>Почта</label>
		<p><input type="email"></p>
		<label>Пароль</label>
		<p><input type="password"></p>
		<p><input class='check' type="checkbox"><label>Согласие на рассылку рекламы</label></p>

		<button role="button">Зарегистрироваться</button>

	</form>
</main>
<hr>
<footer>
	Полезная <a href="https://ru.wikipedia.org/wiki/Заглавная_страница">ссылка</a> на википедию.
</footer>
</body>
</html>
