{% extends 'lessons/htmlOb/sha-les.html' %}
{% load static %}
{% block title %}
	WebSchool: Тест
{% endblock %}
{% block body1 %}
    <div class="mx-auto mb-3 px-1 py-5 rounded shadow text-light io jjk-ost" onclick="window.location.href = '../test1/';"><img class="img-fluid w-50 d-block mx-auto  my-2" src="{% static 'lessons/1/ST1.png' %}"></div>
	<div class="mx-auto mb-3 px-1 py-5 rounded shadow jjk io"><img class="img-fluid w-50 d-block mx-auto  my-2" src="{% static 'lessons/1/ST2.png' %}"></div>
	<div class="mx-auto mb-3 px-1 py-5 rounded shadow text-light io jjk-ost" onclick="window.location.href = '../test3/';"><img class="img-fluid w-50 d-block mx-auto my-2" src="{% static 'lessons/1/ST3.png' %}"></div>

{% endblock %}
{% block body2 %}

{% endblock %}