body{
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color:antiquewhite;
	padding:0;margin:0;
}
hr{
	display:none;
}
h1{
	padding:0;margin:0;
	font-size:30px;
}
nav{
	background-color:#ECB162;
	padding:20px 0 20px 20px;

}
td{
	margin-right:1vw;
	display:block;
	width:32vw;
	float:left;
}
main{
	background-color:#F7DCB7;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
table{
	margin-left:10px;
}
img{
	width:50%;
	border:4px cyan solid;
	border-radius:3px;
	margin-right:10px;
	float:left;
}
form{
	border:4px #CD8016 solid;
	border-radius:3px;
	margin-left:10px;
	width:400px;
	padding:5px;
	margin-top:10px;
}
button{
	padding:5px;
	background-color:chartreuse;
}
form>p{
	padding:0;margin:0;
}
input{
	margin-bottom:10px;
	width:90%;
	height:20px;
	border-radius:5px;
}
.check{
	width:5%;
}

a{
	text-decoration:none;
}
footer{

	padding:20px 0 20px 20px;
	background-color:#ECB162;
	height:100px;
}