{% extends 'lessons/sha-lessons.html' %}

{% block title %}
	WebSchool: HTML
{% endblock %}

{% block body %}
  <nav class="navbar navbar-dark bg-dark fixed-top border-bottom">
	  <div class="container-fluid">
		<a class="navbar-brand" href="#">WebSchool</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample01">
		  <ul class="navbar-nav mr-auto mb-2">
			<li class="nav-item active">
			  <a class="nav-link" aria-current="page" href= "../../" >Главная</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../">Курсы</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../../user/lk" tabindex="-1" aria-disabled="true">Личный кабинет</a>
			</li>
		  </ul>
		  <form>
			<input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
		  </form>
		</div>
	  </div>
	</nav>
  <script type="text/javascript"> (function(m,e,t,r,i,k,a){ m[i]=m[i]||function(){ (m[i].a=m[i].a||[]).push(arguments) }; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(67718821, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/67718821" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
	<div class="text-center pt-5">
		<h1 class="h1 text-light hh1">HTML</h1>
		<div class="mx-auto jojo mb-3 bd1 text-center ss px-1 py-5 rounded shadow " onclick="window.location.href = '№1/';"><h1 class="h1 text-light">Теория</h1></div>
		<div class="jojo mx-auto mb-3 bd1 text-center ss px-1 py-5 rounded shadow" onclick="window.location.href = 'test1/';"><h1 class="h1 text-light">Тесты</h1></div>
		<div class="jojo mx-auto mb-3 bd1 text-center ss px-1 py-5 rounded shadow" onclick="window.location.href = 'practice/';"><h1 class="h1 text-light">Практика</h1></div>
	</div>
	<div class="container"></div>


<!--	<p>HTML выбор: теория/тесты/практика</p>-->
	<footer class="py-5 bg-dark">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3 mx-4">
			<li class="nav-item"><a href="javascript:scroll(0,0)" class="nav-link px-2 text-muted">Наверх</a></li>
		</ul>
		<p class="text-center text-muted">© 2021 Кислицин К. Р.</p>
    </footer>
{% endblock %}